.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
    position: absolute;

    img {
        width: 20px;
        height: 20px;
    }

    a {
        width: 100%;
        margin: 10px;
        padding: 10px;
        position: relative;
    }

    :hover {
        color: red;
    }

    .nav-active {
        &::after {
            content: '';
            width: 85%;
            height: 5px;
            background-color: $color-1;
            position: absolute;
            bottom: 1px;
            left: 1%;
        }
    }
}
