.notfound {
    h1, h2 {
        color: blue;
        display: block;
        width: 30%;
        margin: 5% auto 0 auto;
        text-align: center;
    }

    p {
        font-size: 2rem;
        margin-left: 10%;
        margin-top: 2em;
        margin-right: 10%;
        margin-left: 10%;
        color: $color-4;
        text-align: center;
    }
    .container-back{
        background-color: $color-8;
        clip-path: polygon(0% 100%, 25% 50%, 0% 0%, 75% 0%, 100% 50%, 75% 100%);
        width: 300px;
        border: 2px solid $color-2;
        margin: 30px auto;
        padding: 20px;
        &:hover {
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            transition: 1s;
        }
    }
    a {
        text-align: center;
        width: 25%;
        color: $color-4;
        ::after{
            color: $color-4;
        }
    }
}
