.notfound {
    h1 {
        color: blue;
        display: block;
        width: 30%;
        margin: 5% auto 0 auto;
    }

    p {
        font-size: 2rem;
        margin-left: 10%;
        margin-top: 2em;
        color: $color-4;
    }
}
