.notifications{
    h2 {
        text-align: left;
    }
    .big-container-wrapper {
        &.big-container-notification{
            padding: 20px 20px 20px 40px;
            margin-top: 5%;
            background-color: $color-5;
            p {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 500px;
            }
        }
    }
}