# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/src/styles/index.css

# misc

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/ 1 != 0
node_modules/ 0 != 0
node_modules/ 2 != 0
node_modules/ 1 != 0
node_modules/ 0 != 0
node_modules/ 2 != 0
node_modules/ 1 != 0
node_modules/ 0 != 0
node_modules/ 2 != 0
node_modules/ 1 != 0
node_modules/ 0 != 0
node_modules/ 1 != 0
node_modules/ 0 != 0
node_modules/ 1 != 0
node_modules/ 0 != 0

.DS_Store