@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');

$font-1: 'Nunito', sans-serif;

$color-1: #fff;
$color-2: rgb(201, 191, 191);
$color-3: rgb(0, 0, 0);
$color-4: rgb(54, 38, 202);
$color-5: #F2F2F2;
$color-6: #E33636;
$color-7: #46B458;
$color-8: #2D9BB3;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0.4rem auto;
    background-color: $color-1;
    font-family: $font-1;
    position: static;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-3;
    cursor: pointer;
}

a:visited {
    color: $color-3;
}

.home,
.calendar,
.documentation,
.listproject,
.notifications,
.settings,
.tasksproject,
.default
{
    & h1 {
        color: $color-3;
        display: block;
        font-size: clamp(20px, 2.0rem , 2vw);
        text-align: center;
        padding-top: 50px;
        margin-left: 210px;
    }

    .wrapper-content {
        display: block;
        position: relative;
        width: 80%;
        margin: 2rem 2rem 0 10rem;
        padding: 2rem 2rem;
        border: 1px solid $color-6;
        font-size: 2rem;
    }

    .big-container-wrapper {
        margin-left: 210px;
        margin-top: 10%;
    }

    .container-wrapper {
        position: relative;
        margin-left: 210px;
    }
}

.round {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.round-red {
    background-color: $color-6;
}
.round-green {
    background-color: $color-7;
}
.round-blue {
    background-color: $color-8;
}

.btn-redirect {
    margin: 10px 10px;
    padding: 5px 10px;
    background-color: red;
}

.myButton {
	box-shadow: 3px 3px 6px 1px $color-5;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:9px;
	border:2px solid $color-4;
	display:inline-block;
	cursor:pointer;
	color:$color-4;
	font-family:Arial;
	font-size:24px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:-2px 2px 0px $color-1;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:$color-5;
}
.myButton:active {
	position:relative;
	top:1px;
}